<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{- site.title -}}</title>
    {%- include head.html -%}
</head>
<body>
{{ content -}}
<div class="instructions"></div>
<script src="assets/js/resources.js"></script>
    <script src="assets/js/entities.js"></script>
    <script src="assets/js/app.js"></script>
    <script src="assets/js/engine.js"></script>
</body>
</html>